.gradient-animator {
  background: linear-gradient(235deg, rgb(206, 255, 251), rgb(255, 245, 189), rgb(207, 240, 158));
  background-size: 400% 400%;
  -webkit-animation: GradientAnim 6s ease infinite;
  -moz-animation: GradientAnim 6s ease infinite;
  animation: GradientAnim 6s ease infinite;
}

@-webkit-keyframes GradientAnim {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-moz-keyframes GradientAnim {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@keyframes GradientAnim {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}