
.persona-result {
  color: var(--bs-emphasis-color);
  font-size: 60px;
  font-family: Anton, sans-serif;
  text-align: center;
}

.persona-mean {
  color: #333333;
  font-family: Roboto, sans-serif;
  text-align: justify;
  font-size: 22px;
  margin: 0;
  margin-right: 26px;
  padding: 0;
}

@media screen and (max-width: 2000px) {
  .persona-mean {
    margin-right: 5rem;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .persona-mean {
    margin-right: 5rem;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .persona-mean {
    margin-right: 4px;
    margin-left: 10px;
    font-weight: 100;
  }
}

.strand {
  height: 400px;
}

#img-persona-result {
  width: 350px;
  height: 400px;
}

#img-persona-result {
}

.persona-section {
  padding-bottom: 4px;
  padding-top: 0px;
  margin-bottom: 3px;
  margin-top: -40px;
}

.persona-image {
  min-height: 100px;
  background: url("../../assets/img/bg/bg1.png");
  background-size: cover;
}

@media screen and (min-width: 768px) {
  #img-persona-result {
    height: 99%;
    width: 100%;
  }
}

.strand-mean {
  margin-right: 20%;
}

@media (max-width: 576px) {
  .strand-mean {
    margin-right: 10%;
  }
}

#numbers {
  height: 100px;
  width: 100px;
  margin-right: -56px;
  margin-top: -55px;
  margin-left: -15px;
  z-index: 1;
  position: relative;
}

.float-start {
  float: left !important;
}

#strands {
  height: 400px;
  width: 450px;
}

.underline-thick {
  text-decoration: underline;
  text-decoration-color: #07b5ff;
}

.bg-custom-color {
  background-color: #ffffff;
}

#row-strands {
  max-width: 900px;
  /* height: 400px; */
}

.card-body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  max-height: 200px;
  font-weight: lighter;
  font-size: 14px;
}

#strands {
  height: 105%;
}

#speakers {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#small-image {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 5px outset #ff8000;
}

.header-area{
   
  margin-top: 5rem;
  padding-top: 2rem;
  height: 100%;
}

#strands{
  font-family:'Titan One',sans-serif;
  font-weight: bold;
}

#myChart {
  width: 500px; 
  height: 500px;
}


.circle-behind {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; 
  height: 65%; 
  border-radius: 50%;
  background-color: #E5EDF5;
  z-index: 0;
}
/*FIRST LAYER*/

.heading{
  font-family:'Archivo Black',sans-serif;
  font-weight:800;
  font-size: 40px;
  color: #514848;
}

.first{
  font-family: 'Archivo Narrow',sans-serif;
  font-size: bold;
  font-weight:400;
  text-transform: uppercase;
}


.rounded-box {
  border-radius: 45%;
  border: 1px solid #0d8996;
  padding: 15px;
  background-color: #b4fffc;
  text-align: center;
}

#riasec-result{

  font-size: medium;
  font-weight: 500; 
}

.custom-img-size {
  width: 150%; 
  max-width: none; 
  height: auto; 
}

.custom-paragraph{
  font-size: 16px;
  padding-bottom: 10px; 
  overflow:visible;
  
}
.riasec-card{
max-width: 100%;
margin: auto;

}
.card-body{

  min-height: 100%;
  height: auto;
}

.top-three{
  font-family: 'Titan One', sans-serif;
  font-weight:500;
}

.strand-reco{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: light;
}

.curved-div{
position: relative;
height: 260px;

}

.curved-div svg{
  display: block;
}

.modal-content {
  width: 100% !important;
  margin: auto !important;
}